body {
    background-color: rgb(220, 220, 244);
}

.login {
    max-width: 600px;
    margin: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.errors {
    color: red;
    font-weight: bold;
}

.message {
    color: blue;
    font-weight: bold;
}

.margin2px {
    margin: 2px;
}