<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Note App</title>
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

  <!-- header -->
    <!-- OBSOLETE SYNTAX - does not contain ~{} <div th:replace="header :: header"></div> -->
    <header th:insert="~{header.html :: header}"></header>
  <!-- //header -->

  <div class="center">
    <form th:action="@{/submitLoginInformation}" method="post" th:object="${user}">
      <div class="errors" th:if="${!#strings.isEmpty(errors)}" th:text="${errors}"></div>
      <div class="message" th:if="${!#strings.isEmpty(message)}" th:text="${message}"></div>
      <div class="flex-row">
        <div>
          <label for="username">Username</label>
          <br>
          <input type="text" th:field="*{username}" id="username"/>
        </div>
        <div>
          <label for="password">Password</label>
          <br>
          <input type="password" th:field="*{password}" id="password"/>
        </div>
      </div>
      <label for="create">Create New User</label>
      <input type="checkbox" th:field="*{createNewUser}" id="create"/>
      <br>
      <button>Proceed</button>
    </form>
  </div>

</body>
</html>