<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Edit Note</title>
</head>
<body>

    <!-- header -->
        <div th:replace="~{header :: header}">...</div>
    <!-- //header -->

    <div>
    <form th:action="@{/saveNote}" method="post">
        <input type="text" th:field="description" maxlength="200" th:text="${description}"/>
        <input type="date" th:field="deadline" th:text="${deadline}"/>
    </form>
    </div>

</body>
</html>